@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjTOQ_MqJVwkKsUn0wKzc2I.woff2") format("woff2");
    unicode-range: "U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjUj_cnvWIuuBMVgbX098Mw.woff2") format("woff2");
    unicode-range: "U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZkbcKLIaa1LC45dFaAfauRA.woff2") format("woff2");
    unicode-range: "U+1F00-1FFF";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zmo_sUJ8uO4YLWRInS22T3Y.woff2") format("woff2");
    unicode-range: "U+0370-03FF";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zr6up8jxqWt8HVA3mDhkV_0.woff2") format("woff2");
    unicode-range: "U+0102-0103, U+1EA0-1EF9, U+20AB";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiYE0-AqJ3nfInTTiDXDjU4.woff2") format("woff2");
    unicode-range: "U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2") format("woff2");
    unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJZ6iIh_FvlUHQwED9Yt5Kbw.woff2") format("woff2");
    unicode-range: "U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJS_vZmeiCMnoWNN9rHBYaTc.woff2") format("woff2");
    unicode-range: "U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSFaMxiho_5XQnyRZzQsrZs.woff2") format("woff2");
    unicode-range: "U+1F00-1FFF";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJQalQocB-__pDVGhF3uS2Ks.woff2") format("woff2");
    unicode-range: "U+0370-03FF";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJWhQUTDJGru-0vvUpABgH8I.woff2") format("woff2");
    unicode-range: "U+0102-0103, U+1EA0-1EF9, U+20AB";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJejkDdvhIIFj_YMdgqpnSB0.woff2") format("woff2");
    unicode-range: "U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF";
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2") format("woff2");
    unicode-range: "U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000";
}

html {
    height: 100%;
}

html body {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background: #ffffff;
    height: 100%;
    position: relative;
}

html body a {
    color: #48A1CD;
    display: inline-block;
    padding: 5px;
}

html body a:hover {
    text-shadow: 1px 1px 1px #263238, 0 0 23px white;
    color: #ffffff;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
    margin: 0;
    padding: 0;
}

html body h1 {
    margin-bottom: 15px;
}

html body .center {
    min-width: 330px;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

html body .table {
    display: table;
    width: 100%;
}

html body .clear {
    clear: both;
}

html body .textCenter {
    text-align: center;
}

html body .avatar {
    -moz-border-radius: 100%;
    /* Firefox */
    -webkit-border-radius: 100%;
    /* Safari, Chrome */
    -khtml-border-radius: 100%;
    /* KHTML */
    border-radius: 100%;
    /* CSS3 */
    overflow: hidden;
    width: 200px;
    margin: auto;
    background-color: #4D391E;
}

html body .table.center {
    height: 100%;
    padding: 60px 0 50px 0;
}

html body header {
    position: fixed;
    background: #263238;
    padding: 15px 0;
    text-align: left;
    color: #f2f2f2;
    z-index: 2;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

html body header h3 {
    color: #ffffff;
    margin-left: 15px;
}

html body header h3 i {
    padding: 5px;
    background-color: #ffffff;
    border-radius: 100%;
    color: #263238;
    margin-right: 5px;
    text-align: center;
    min-width: auto;
}

html body header h3 span {
    display: inline-block;
    margin-left: 15px;
    color: #f2f2f2;
    font-size: 0.8em;
}

html body header #min-menu {
    float: right;
    width: 45px;
    height: 45px;
    color: #ffffff;
    right: 15px;
    top: -10px;
    position: absolute;
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
}

html body aside {
    background-color: #37474f;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    box-shadow: -10000px 0px 0px 10000px #37474f;
    -o-box-shadow: -10000px 0px 0px 10000px #37474f;
    -moz-box-shadow: -10000px 0px 0px 10000px #37474f;
    -webkit-box-shadow: -10000px 0px 0px 10000px #37474f;
    width: 300px;
    display: table-cell;
    color: #ffffff;
    vertical-align: top;
    overflow: auto;
    height: 100%;
}

html body aside .side-block {
    padding: 15px;
    color: #f2f2f2;
}

html body aside .side-block h3 {
    color: #ffffff;
}

html body aside .side-block h3 i {
    padding: 5px;
    background-color: #ffffff;
    border-radius: 100%;
    color: #263238;
    margin-right: 5px;
    text-align: center;
    min-width: 22px;
}

html body aside .side-block .table a {
    min-width: 40px;
    font-size: 1.5em;
}

html body aside ul, html body aside menu, html body aside nav {
    list-style: none;
    display: block;
    padding: 5px;
    margin: 0;
}

html body aside ul li, html body aside menu li, html body aside nav li {
    display: list-item;
}

html body aside ul li .fa, html body aside menu li .fa, html body aside nav li .fa {
    padding-right: 5px;
}

html body section {
    display: table-cell;
    vertical-align: top;
    overflow: auto;
}

html body section .content-block {
    padding: 15px 45px;
}

html body section ol, html body section menu, html body section nav {
    list-style: none;
    display: block;
    padding: 5px;
    margin: 0;
}

html body section ol li, html body section menu li, html body section nav li {
    display: list-item;
}

html body section ol li .fa, html body section menu li .fa, html body section nav li .fa {
    padding-right: 5px;
}

html body section .time {
    font-size: 0.9em;
    font-style: italic;
    color: #777;
}

html body section h2 {
    font-size: 1.2em;
    padding: 10px 0;
}

html body section .organizate {
    font-weight: 700;
    margin: 5px 0;
}

html body section .profile, html body section .tasks {
    color: #333;
    padding-bottom: 15px;
}

html body footer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #37474f;
    color: #ffffff;
    box-shadow: 10000px 10000px 0px 10000px #37474f;
    -o-box-shadow: 10000px 10000px 0px 10000px #37474f;
    -moz-box-shadow: 10000px 10000px 0px 10000px #37474f;
    -webkit-box-shadow: 10000px 10000px 0px 10000px #37474f;
}

html body footer #copy {
    padding: 15px;
    text-align: center;
}

@media screen and (min-width: 750px) {
    html body header #min-menu {
        display: none;
    }
}

@media screen and (max-width: 749px) {
    html body aside {
        position: fixed;
        left: -300px;
        z-index: 1;
    }

    html body aside.sliderOpen {
        left: 0;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }

    html body aside.sliderClose {
        left: -300px;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }

    html body aside .padB150 {
        padding-bottom: 120px;
    }

    html body section {
        position: relative;
        z-index: -1;
    }

    html body section .content-block {
        padding: 15px 30px;
    }

    html body .table.center {
        padding-bottom: 95px;
    }
}

@media screen and (max-width: 439px) {
    html body header h3 {
        margin-left: 30px;
    }

    html body header h3 i {
        margin-right: 15px;
    }

    html body header h3 span {
        display: block;
        padding-top: 5px;
        padding-left: 35px;
    }

    html body header #min-menu {
        top: 0;
    }

    html body .table.center {
        padding-top: 85px;
    }
}