$color_0 : #ffffff;
$color_1 : rgb(55,71,79);
$color_2 : #263238;
$color_3 : #48A1CD;
$color_4 : #f2f2f2;
$minWidth: 330px;
$maxWidth: 1200px;
$sidWidth: 300px;

@mixin font-face($family, $style, $weight, $range, $local1, $local2, $url, $format) {
	@font-face {
		font-family: $family;
		font-style: $style;
		font-weight: $weight;
		src: local($local1), local($local2), url($url) format($format);
		unicode-range: $range;
	}
}
@mixin i-icons($w:auto) {
	padding: 5px;
	background-color: $color_0;
	border-radius: 100%;
	color: $color_2;
	margin-right: 5px;
	text-align: center;
	min-width: $w;
}
@mixin transition($pars: all 0.5s ease 0s) {
	-webkit-transition:$pars;
	-moz-transition:$pars;
	-o-transition:$pars;
	transition:$pars;
}
@mixin box-shadow($pars: 0px 0px 0px $color_1) {
	box-shadow: $pars;
	-o-box-shadow: $pars;
	-moz-box-shadow: $pars;
	-webkit-box-shadow: $pars;
}
@mixin border-radius($pars: 100%) {
	-moz-border-radius: $pars; /* Firefox */
	-webkit-border-radius: $pars; /* Safari, Chrome */
	-khtml-border-radius: $pars; /* KHTML */
	border-radius: $pars; /* CSS3 */
}


@include font-face('Roboto Slab', normal, 400, "U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F",
"Roboto Slab Regular", "RobotoSlab-Regular", "https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjTOQ_MqJVwkKsUn0wKzc2I.woff2", "woff2");

@include font-face('Roboto Slab', normal, 400, 'U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116',
'Roboto Slab Regular', 'RobotoSlab-Regular', 'https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjUj_cnvWIuuBMVgbX098Mw.woff2', 'woff2');

@include font-face('Roboto Slab', normal, 400, "U+1F00-1FFF",
'Roboto Slab Regular', 'RobotoSlab-Regular', "https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZkbcKLIaa1LC45dFaAfauRA.woff2", 'woff2');

@include font-face('Roboto Slab', normal, 400, "U+0370-03FF",
'Roboto Slab Regular', 'RobotoSlab-Regular',"https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zmo_sUJ8uO4YLWRInS22T3Y.woff2",'woff2');

@include font-face('Roboto Slab', normal, 400, "U+0102-0103, U+1EA0-1EF9, U+20AB",
'Roboto Slab Regular', 'RobotoSlab-Regular', "https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zr6up8jxqWt8HVA3mDhkV_0.woff2",'woff2');

@include font-face('Roboto Slab', normal, 400, "U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF",
'Roboto Slab Regular', 'RobotoSlab-Regular', "https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiYE0-AqJ3nfInTTiDXDjU4.woff2", 'woff2');

@include font-face('Roboto Slab', normal, 400, "U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000",
'Roboto Slab Regular','RobotoSlab-Regular', "https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2", 'woff2');

@include font-face('Roboto Slab', normal, 700, "U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F",
'Roboto Slab Bold', 'RobotoSlab-Bold', "https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJZ6iIh_FvlUHQwED9Yt5Kbw.woff2", 'woff2');

@include font-face('Roboto Slab', normal, 700, "U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116",
'Roboto Slab Bold', 'RobotoSlab-Bold', "https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJS_vZmeiCMnoWNN9rHBYaTc.woff2", 'woff2');

@include font-face('Roboto Slab', normal, 700, "U+1F00-1FFF",
'Roboto Slab Bold', 'RobotoSlab-Bold', "https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSFaMxiho_5XQnyRZzQsrZs.woff2", 'woff2');

@include font-face('Roboto Slab', normal, 700, "U+0370-03FF",
'Roboto Slab Bold', 'RobotoSlab-Bold', "https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJQalQocB-__pDVGhF3uS2Ks.woff2", 'woff2');

@include font-face('Roboto Slab', normal, 700, "U+0102-0103, U+1EA0-1EF9, U+20AB",
'Roboto Slab Bold', 'RobotoSlab-Bold', "https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJWhQUTDJGru-0vvUpABgH8I.woff2", 'woff2');

@include font-face('Roboto Slab', normal, 700, "U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF",
'Roboto Slab Bold', 'RobotoSlab-Bold', "https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJejkDdvhIIFj_YMdgqpnSB0.woff2", 'woff2');

@include font-face('Roboto Slab', normal, 700, "U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000",
'Roboto Slab Bold', 'RobotoSlab-Bold', "https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2", 'woff2');

html {
	height: 100%;

	body {
		font-family: 'Roboto Slab', serif;
		font-size: 1em;
		margin: 0;
		padding: 0;
		background: $color_0;
		height: 100%;
		position: relative;

		a {
			color: $color_3;
			display: inline-block;
			padding: 5px;

			&:hover{
				text-shadow: 1px 1px 1px #263238, 0 0 23px white;
				color: $color_0;
				@include transition();
			}
		}

		h1,h2,h3,h4,h5,h6 {
			margin: 0;
			padding: 0;
		}
		h1{
			margin-bottom: 15px;
		}

		.center{
			min-width: $minWidth;
			max-width: $maxWidth;
			margin: auto;
			position: relative;
		}
		.table{
			display: table;
			width: 100%;
		}
		.clear{
			clear: both;
		}
		.textCenter{
			text-align: center;
		}
		.avatar{
			@include border-radius();
			overflow: hidden;
			width: 200px;
			margin: auto;
			background-color: #4D391E;
		}
		.table.center{
			height: 100%;
			padding: 60px 0 50px 0;
		}

		header{
			position: fixed;
			background: $color_2;
			padding: 15px 0;
			text-align: left;
			color: $color_4;
			z-index: 2;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;

			h3{
				color: $color_0;
				margin-left: 15px;
				i{
					@include i-icons();
				}
				span{
					display: inline-block;
					margin-left: 15px;
					color: $color_4;
					font-size: 0.8em;
				}
			}
			#min-menu{
				float: right;
				width: 45px;
				height: 45px;
				color: $color_0;
				right: 15px;
				top: -10px;
				position: absolute;
				display: block;
				cursor: pointer;
				text-align: center;
				font-size: 2em;
			}
		}

		aside{
			background-color: $color_1;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-bottom: 20px;
			@include box-shadow(-10000px 0px 0px 10000px $color_1);
			width: $sidWidth;
			display: table-cell;
			color: $color_0;
			vertical-align: top;
			overflow: auto;
			height: 100%;

			.side-block{
				padding: 15px;
				color: $color_4;
				h3 {
					color: $color_0;
					i{
						@include i-icons(22px);
					}
				}
				.table {
					a {
						min-width: 40px;
						font-size: 1.5em;
					}
				}
			}
			ul, menu, nav{
				list-style: none;
				display: block;
				padding: 5px;
				margin: 0;
				li{
					display: list-item;
					.fa{
						padding-right: 5px;
					}
				}
			}
		}

		section{
			display: table-cell;
			vertical-align: top;
			overflow: auto;
			.content-block{
				padding: 15px 45px;
			}
			ol, menu, nav{
				list-style: none;
				display: block;
				padding: 5px;
				margin: 0;
				li{
					display: list-item;
					.fa{
						padding-right: 5px;
					}
				}
			}
			.time {
				font-size: 0.9em;
				font-style: italic;
				color: #777;
			}
			h2{
				font-size: 1.2em;
				padding: 10px 0;
			}
			.organizate {
				font-weight: 700;
				margin: 5px 0;
			}
			.profile, .tasks {
				color: #333;
				padding-bottom: 15px;
			}
		}

		footer{
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $color_1;
			color: $color_0;
			@include box-shadow(10000px 10000px 0px 10000px $color_1);

			#copy{
				padding: 15px;
				text-align: center;
			}
		}

		@media screen and (min-width: 750px) {
			header{
				#min-menu{
					display: none;
				}
			}
		}
		@media screen and (max-width: 749px) {
			aside {
				position: fixed;
				left: -$sidWidth;
				z-index: 1;
				&.sliderOpen {
					left: 0;
					@include transition();
				}
				&.sliderClose {
					left: -$sidWidth;
					@include transition();
				}
				.padB150{
					padding-bottom: 120px;
				}
			}
			section{
				position: relative;
				.content-block{
					padding: 15px 30px;
				}
				z-index: -1;
			}
			.table.center{
				padding-bottom: 95px;
			}
		}
		@media screen and (max-width: 439px) {
			header{
				h3{
					margin-left: 30px;
					i{
						margin-right: 15px;
					}
					span{
						display: block;
						padding-top: 5px;
						padding-left: 35px;
					}
				 }
				#min-menu{
					top: 0;
				}
			}
			.table.center{
				padding-top: 85px;
			}
		}
	}
}
